//Media
$hd: 1920px;
$xl: 1440px;
$l: 1280px;
$tablet: 1024px;
$md: 768px;
$sm: 576px;
$s: 320px;

//Colors
$color-black: #000000;
$color-white: #ffffff;

$color-primary: #567354;
$color-secondary: #F3DBC7;

$color-Glade-Green: #668663;
$color-Tom-Thumb: #435F40;
$color-Tundora: #484848;
$color-Alto: #D9D9D9;
$color-Calico: #DCB18B;
$color-Bali-Hai: #869CB0;
$color-Nobel: #B4B4B4;
$color-Gray: #8B8B8B;

//Fonts
$font-primary: "Roboto", sans-serif;

//Grid
$grid-unit: 4px;

//Animation
$transition: .2s ease-in-out;



