@import "vendor/libs";
@import "base/fonts";
@import "base/base";


.app {
  width: 1400px;
  height: 900px;
  margin: 0 auto;
  padding: $grid-unit*3  $grid-unit*3  $grid-unit*3  $grid-unit*8;
  border-radius: 35px;
  display: grid;
  grid-template-areas: "header main";
  grid-template-columns: 237px auto;
  grid-auto-rows: max-content;
  grid-gap: 0 25px;
}

.green-bg {
  background-color: $color-Glade-Green;
}

.main {
  grid-area: main;
}

.view {
  @include container;
  display: grid;
  width: 100%;
  grid-template-areas: "menu sidebar" "main sidebar";
  grid-auto-flow: dense;
  grid-template-columns: 8fr 4fr;
  grid-gap: 0 $grid-unit*7;
}

.content {
  padding: $grid-unit*2 0;
}



svg path {
  fill: inherit;
}