.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 52px;
  background-color: $color-primary;
  padding: $grid-unit*3 $grid-unit*4;
  color: $color-secondary;

  &Title {
    font-weight: 300;
    font-size: 17px;
    color: $color-white;
    margin-left: 25px;
  }

  &Active {
    background-color: $color-white;
    color: $color-primary;

    .linkTitle {
      font-weight: 500;
      font-size: 19px;
      color: $color-primary;
    }
  }

}

