.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 52px;
  background-color: $color-primary;
  padding: $grid-unit*3 $grid-unit*4;

  &::before{
  content: '';
    display: block;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.main {
    &::before{
      width: 27px;
    }
  }

  &Title {
    font-weight: 300;
    font-size: 17px;
    color: $color-white;
    margin-left: 25px;
  }
}